<div class="col-lg-12 col-md-12">
    <div class="card myCard">
        <div class="card-header card-header-tabs card-header-success">
            <div class="nav-tabs-navigation">
                <div class="nav-tabs-wrapper">
                    <ul class="nav nav-tabs" data-tabs="tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="#logAndPwd" data-toggle="tab">
                                <i class="material-icons">lock</i> Login & Password
                                <div class="ripple-container"></div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#ajout-user" data-toggle="tab">
                                <i class="material-icons">person_add</i> Ajout utilisateur
                                <div class="ripple-container"></div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#employe-role" data-toggle="tab">
                                <i class="material-icons">how_to_reg</i> Gérer les accès manager
                                <div class="ripple-container"></div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#table-role" data-toggle="tab">
                                <i class="material-icons">person</i> Liste des rôles
                                <div class="ripple-container"></div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card-body myCard">
            <div class="tab-content myCard">
                <div class="tab-pane active myCard" id="logAndPwd">
                    <div class="col-md-12 myCard">
                        <div class="card">
                            <div class="card-body myCard2">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead class=" text-success">
                                            <th>
                                                Nom User
                                            </th>
                                            <th>
                                                Prénom User
                                            </th>
                                            <th>
                                                Login User
                                            </th>
                                            <th>
                                                Password User
                                            </th>
                                            <th>
                                            </th>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let user of listUsers">
                                                <td>{{user.nomUser}}</td>
                                                <td>{{user.prenomUser}}</td>
                                                <td>{{user.loginUser}}</td>
                                                <td>{{user.pwdUser}}</td>
                                                <td><button type="button" [routerLink]="['/updateloginpwd',user.idUser]"
                                                        class="btn btn-success"><i class="material-icons">autorenew</i>
                                                        Modifier</button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="ajout-user">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-3">
                            </div>
                            <div class="col-sm-6">
                                <form [formGroup]="myForm" (ngSubmit)="ajoutUser(newUser)" class="was-validated">
                                    <h3 class="text-primary">Ajouter un nouvel utilisateur</h3>
                                    <div class="form-group">
                                        <h6>Nom :</h6>
                                        <input type="text" class="form-control myInput" id="nomUser"
                                            formControlName="nomUser" [(ngModel)]="newUser.nomUser"
                                            placeholder="exemple : Smith" required>
                                    </div>
                                    <div class="form-group">
                                        <h6>Prénom :</h6>
                                        <input type="text" class="form-control myInput" id="prenomUser"
                                            formControlName="prenomUser" [(ngModel)]="newUser.prenomUser"
                                            placeholder="exemple : John" required>
                                    </div>
                                    <div class="form-group">
                                        <h6>Email :</h6>
                                        <input type="email" class="form-control myInput" id="emailUser"
                                            formControlName="emailUser" [(ngModel)]="newUser.emailUser"
                                            placeholder="exemple : john.smith@gmail.com" required>
                                    </div>
                                    <div class="form-group">
                                        <h6>Login :</h6>
                                        <input type="text" class="form-control myInput" id="loginUser"
                                            formControlName="loginUser" [(ngModel)]="newUser.loginUser"
                                            placeholder="exemple : jsmith" required>
                                    </div>
                                    <div class="form-group">
                                        <h6>Password :</h6>
                                        <input type="text" class="form-control myInput" id="pwdUser"
                                            formControlName="pwdUser" [(ngModel)]="newUser.pwdUser"
                                            placeholder="exemple : 123456789" required>
                                    </div>
                                    <div class="form-group">
                                        <h6>Secteur :</h6>
                                        <select class="form-control myInput" id="secteurUser"
                                            [(ngModel)]="newUser.secteurUser" formControlName="secteurUser" required>
                                            <option *ngFor="let secteur of listSecteurs;" [ngValue]="secteur">
                                                {{secteur.nomSecteur}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <h6>Rôle :</h6>
                                        <select class="form-control myInput" id="roleUser"
                                            [(ngModel)]="newUser.roleUser" formControlName="roleUser" required>
                                            <!-- ERREUR DANS LA CONSOLE ICI MAIS FONCTIONNE CORRECTEMENT => libelleRole undefined -->
                                            <option [ngValue]="listRoles[1]">
                                                {{listRoles[1].libelleRole}}
                                            </option>
                                            <option [ngValue]="listRoles[2]">
                                                {{listRoles[2].libelleRole}}
                                            </option>
                                        </select>
                                    </div>
                                    <button type="submit" class="btn btn-success"
                                        [disabled]="myForm.invalid">Ajouter</button>
                                    <button type="button" (click)="onReset()"
                                        class="btn btn-warning">Réinitialiser</button>
                                </form>
                            </div>
                            <div class="col-sm-3">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane myCard" id="employe-role">
                    <div class="col-md-12 myCard">
                        <div class="card">
                            <div class="card-body myCard2">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead class=" text-success">
                                            <th>
                                                Nom User
                                            </th>
                                            <th>
                                                Prénom User
                                            </th>
                                            <th>
                                                Rôle
                                            </th>
                                            <th>
                                            </th>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let user of listUsers">
                                                <td>{{user.nomUser}}</td>
                                                <td>{{user.prenomUser}}</td>
                                                <td>{{user.roleUser.libelleRole}}</td>
                                                <td *ngIf="user.roleUser.libelleRole == 'manager'">
                                                    <button type="button" class="btn btn-warning"
                                                        (click)="passerEmploye(user,user.idUser)"><i
                                                            class="material-icons">call_received</i>
                                                        Passer employe</button>
                                                </td>
                                                <td *ngIf="user.roleUser.libelleRole == 'employe'">
                                                    <button type="button" class="btn btn-success"
                                                        (click)="passerManager(user,user.idUser)"><i
                                                            class="material-icons">call_made</i>
                                                        Passer manager</button>
                                                </td>
                                                <td *ngIf="user.roleUser.libelleRole == 'admin'">
                                                    <h6 class="text-danger myText">IMPOSSIBLE : ADMIN</h6>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane myCard" id="table-role">
                    <div class="col-md-12 myCard">
                        <div class="card">
                            <div class="card-body myCard2">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead class=" text-success">
                                            <th>
                                                Libellé du rôle
                                            </th>
                                            <th>
                                                Informations
                                            </th>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    admin
                                                </td>
                                                <td>
                                                    L'admin a accès à toutes les fonctionnalités de l'application. Il
                                                    est unique et est le seul à pouvoir promouvoir un employé en
                                                    manager. Il a aussi accès aux mots de passe des utilisateurs.
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    manager
                                                </td>
                                                <td>
                                                    Le manager a accès à la majeure partie des fonctionnalités de
                                                    l'application. Il peut gérer les stocks de nourritures, les animaux,
                                                    les enclos, les secteurs, les employés et attribuer des
                                                    tâches. Il ne peut cependant pas
                                                    gérer les informations de ses collègues managers. Il n'a pas accès
                                                    aux mots de passe.
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    employe
                                                </td>
                                                <td>
                                                    L'employé n'a pas accès à la gestion du personnel et des tâches. Il
                                                    peut cependant consulter son planning de tâches et modifier le stock
                                                    de nourriture.
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>