.myNavbar {
    box-shadow: gray 3px 0px 8px;
    color: white;
}

.myBackG {
    background-color: rgb(170, 194, 65);
    border-radius: 5px;
}

.myButton {
    width: 96%;
    margin-right: 4px;
    margin-left: 4px;
}