<div class="col-lg-12 col-md-12">
    <div class="card myCard">
        <div class="card-header card-header-tabs card-header-success">
            <div class="nav-tabs-navigation">
                <div class="nav-tabs-wrapper">
                    <ul class="nav nav-tabs" data-tabs="tabs">
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/employe']" data-toggle="tab">
                                <i class="material-icons">reply</i>
                                <div class="ripple-container"></div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="#update-employe" data-toggle="tab">
                                <i class="material-icons">build</i> Modifier un employé
                                <div class="ripple-container"></div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card-body myCard">
            <div class="tab-content myCard">
                <div class="tab-pane active myCard" id="update-employe">
                    <h6>A FAIRE</h6>
                </div>
            </div>
        </div>
    </div>
</div>