<div class="sidebar mySidebar" data-color="green">
    <div class="logo mySidebar myHomeButton">
        <a [routerLink]="['/home']" class="nav-link simple-text logo-normal">
            <i class="material-icons">language</i> ACCEUIL
        </a>
    </div>
    <div class="sidebar-wrapper mySidebar">
        <ul class="nav">
            <li *ngIf="isManager" class="nav-item" [routerLinkActive]="['active']"
                [routerLinkActiveOptions]="{exact:true}">
                <a class="nav-link" [routerLink]="['/employe']">
                    <i class="material-icons">people</i>
                    <p>Gestion du personnel</p>
                </a>
            </li>
            <li *ngIf="!isManager" class="nav-item" [routerLinkActive]="['active']"
                [routerLinkActiveOptions]="{exact:true}">
                <a class="nav-link" [routerLink]="['/employe']">
                    <i class="material-icons">people</i>
                    <p>Mes collègues</p>
                </a>
            </li>
            <li *ngIf="isManager" class="nav-item" [routerLinkActive]="['active']"
                [routerLinkActiveOptions]="{exact:true}">
                <a class="nav-link" [routerLink]="['/tache']">
                    <i class="material-icons">assignment</i>
                    <p>Gestion des tâches</p>
                </a>
            </li>
            <li *ngIf="!isManager" class="nav-item" [routerLinkActive]="['active']"
                [routerLinkActiveOptions]="{exact:true}">
                <a class="nav-link" [routerLink]="['/tache']">
                    <i class="material-icons">assignment</i>
                    <p>Mon planning</p>
                </a>
            </li>
            <li *ngIf="isManager" class="nav-item " [routerLinkActive]="['active']"
                [routerLinkActiveOptions]="{exact:true}">
                <a class="nav-link" [routerLink]="['/zoo']">
                    <i class="material-icons">local_florist</i>
                    <p>Gestion du Zoo</p>
                </a>
            </li>
            <li *ngIf="!isManager" class="nav-item " [routerLinkActive]="['active']"
                [routerLinkActiveOptions]="{exact:true}">
                <a class="nav-link" [routerLink]="['/zoo']">
                    <i class="material-icons">local_florist</i>
                    <p>Voir le Zoo</p>
                </a>
            </li>
            <li class="nav-item " [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                <a class="nav-link" [routerLink]="['/stock']">
                    <i class="material-icons">eco</i>
                    <p>Stock alimentaire</p>
                </a>
            </li>
            <li *ngIf="isAdmin" class="nav-item " [routerLinkActive]="['active']"
                [routerLinkActiveOptions]="{exact:true}">
                <a class="nav-link" [routerLink]="['/role']">
                    <i class="material-icons">lock_open</i>
                    <p>Interface Admin</p>
                </a>
            </li>
            <li class="nav-item " [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                <a class="nav-link" [routerLink]="['/compte', idCompte]">
                    <i class="material-icons">face</i>
                    <p>Mon Compte</p>
                </a>
            </li>
            <li class="nav-item " [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                <a class="nav-link myA" (click)="logout()">
                    <i class="material-icons">power_settings_new</i>
                    <p>Deconnexion</p>
                </a>
            </li>
        </ul>
    </div>
</div>