.mySidebar {
    background-color: rgb(204, 224, 200, 1);
    background-image: url('https://i.pinimg.com/originals/b6/7d/7d/b67d7de835f16becee0926298b1b7d6e.jpg');
}

.myHomeButton {
    background-color: rgb(24, 24, 24);
}