<div class="col-lg-12 col-md-12">
    <div class="card myCard">
        <div class="card-header card-header-tabs card-header-success">
            <div class="nav-tabs-navigation">
                <div class="nav-tabs-wrapper">
                    <ul class="nav nav-tabs" data-tabs="tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="#secteur" data-toggle="tab">
                                <i class="material-icons">landscape</i> Secteurs
                                <div class="ripple-container"></div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#enclos" data-toggle="tab">
                                <i class="material-icons">photo</i> Enclos
                                <div class="ripple-container"></div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#animal" data-toggle="tab">
                                <i class="material-icons">pets</i> Animaux
                                <div class="ripple-container"></div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card-body myCard">
            <div class="tab-content myCard">
                <div class="tab-pane active" id="secteur">

                    <!-- ZONE 1-->
                    <div class="card myCard">
                        <div class="card-header card-header-tabs card-header-success">
                            <div class="nav-tabs-navigation">
                                <div class="nav-tabs-wrapper">
                                    <ul class="nav nav-tabs" data-tabs="tabs">
                                        <li class="nav-item">
                                            <a class="nav-link active" href="#table-secteur" data-toggle="tab">
                                                <i class="material-icons">landscape</i> Liste des secteurs
                                                <div class="ripple-container"></div>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#ajout-secteur" data-toggle="tab">
                                                <i class="material-icons">playlist_add</i> Ajouter secteur
                                                <div class="ripple-container"></div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card-body myCard">
                            <div class="tab-content myCard">
                                <div class="tab-pane active" id="table-secteur">

                                    <!-- Liste Secteurs -->
                                    <div class="col-md-12 myCard">
                                        <div class="card">
                                            <div class="card-body myCard2">
                                                <div class="table-responsive">
                                                    <table class="table">
                                                        <thead class=" text-primary">
                                                            <th>
                                                                Nom du secteur
                                                            </th>
                                                            <th>
                                                            </th>
                                                            <th>
                                                            </th>
                                                        </thead>
                                                        <tbody>
                                                            <tr *ngFor="let secteur of listSecteurs">
                                                                <td>{{secteur.nomSecteur}}</td>
                                                                <td><button type="button"
                                                                        [routerLink]="['/updatesecteur',secteur.idSecteur]"
                                                                        class="btn btn-success"><i
                                                                            class="material-icons">autorenew</i>
                                                                        Modifier</button>
                                                                </td>
                                                                <td><button type="button"
                                                                        (click)="deleteSecteur(secteur.idSecteur, i)"
                                                                        class="btn btn-danger"><i
                                                                            class="material-icons">delete</i>
                                                                        Supprimer</button>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Fin Liste Secteurs -->

                                </div>
                                <div class="tab-pane" id="ajout-secteur">

                                    <!-- Ajouter Secteur -->
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-sm-3">
                                            </div>
                                            <div class="col-sm-6">
                                                <form [formGroup]="myFormSecteur" (ngSubmit)="ajoutSecteur()"
                                                    class="was-validated myForm">
                                                    <div class="form-group">
                                                        <h3 class="text-primary">Ajouter un nouveau secteur</h3>
                                                        <p>Nom du secteur :</p>
                                                        <input type="text" class="form-control myInput" id="nomSecteur"
                                                            formControlName="nomSecteur"
                                                            [(ngModel)]="newSecteur.nomSecteur"
                                                            placeholder="exemple : Fauves" required>
                                                    </div>
                                                    <button type="submit" class="btn btn-success"
                                                        [disabled]="myFormSecteur.invalid">Ajouter</button>
                                                    <button type="button" (click)="onResetSecteur()"
                                                        class="btn btn-danger">Réinitialiser</button>
                                                </form>
                                            </div>
                                            <div class="col-sm-3">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Fin Ajouter Secteur -->

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- FIN ZONE 1 -->

                </div>
                <div class="tab-pane" id="enclos">

                    <!-- ZONE 2-->
                    <div class="card myCard">
                        <div class="card-header card-header-tabs card-header-success">
                            <div class="nav-tabs-navigation">
                                <div class="nav-tabs-wrapper">
                                    <ul class="nav nav-tabs" data-tabs="tabs">
                                        <li class="nav-item">
                                            <a class="nav-link active" href="#table-enclos" data-toggle="tab">
                                                <i class="material-icons">photo</i> Liste des enclos
                                                <div class="ripple-container"></div>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#ajout-enclos" data-toggle="tab">
                                                <i class="material-icons">playlist_add</i> Ajouter enclos
                                                <div class="ripple-container"></div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card-body myCard">
                            <div class="tab-content myCard">
                                <div class="tab-pane active" id="table-enclos">

                                    <!-- Liste Enclos -->
                                    <div class="col-md-12 myCard">
                                        <div class="card">
                                            <div class="card-body myCard2">
                                                <div class="table-responsive">
                                                    <table class="table">
                                                        <thead class=" text-primary">
                                                            <th>
                                                                Nom de l'enclos
                                                            </th>
                                                            <th>
                                                                Capacité
                                                            </th>
                                                            <th>
                                                                Secteur
                                                            </th>
                                                            <th>
                                                            </th>
                                                            <th>
                                                            </th>
                                                        </thead>
                                                        <tbody>
                                                            <tr *ngFor="let enclos of listEnclos">
                                                                <td>{{enclos.nomEnclos}}</td>
                                                                <td>{{enclos.capaciteEnclos}}</td>
                                                                <td>{{enclos.secteurEnclos.nomSecteur}}</td>
                                                                <td><button type="button"
                                                                        [routerLink]="['/updateenclos',enclos.idEnclos]"
                                                                        class="btn btn-success"><i
                                                                            class="material-icons">autorenew</i>
                                                                        Modifier</button>
                                                                </td>
                                                                <td><button type="button"
                                                                        (click)="deleteEnclos(enclos.idEnclos, i)"
                                                                        class="btn btn-danger"><i
                                                                            class="material-icons">delete</i>
                                                                        Supprimer</button>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Fin Liste Enclos -->

                                </div>
                                <div class="tab-pane" id="ajout-enclos">

                                    <!-- Ajouter Enclos -->
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-sm-3">
                                            </div>
                                            <div class="col-sm-6">
                                                <form [formGroup]="myFormEnclos" (ngSubmit)="ajoutEnclos()"
                                                    class="was-validated">
                                                    <h3 class="text-primary">Ajouter un nouvel enclos</h3>
                                                    <p>Nom de l'enclos</p>
                                                    <div class="form-group">
                                                        <input type="text" class="form-control myInput" id="nomEnclos"
                                                            formControlName="nomEnclos"
                                                            [(ngModel)]="newEnclos.nomEnclos"
                                                            placeholder="exemple : Tigres" required>
                                                    </div>
                                                    <div class="form-group">
                                                        <p>Capacité de l'enclos</p>
                                                        <input type="number" class="form-control myInput"
                                                            id="capaciteEnclos" formControlName="capaciteEnclos"
                                                            [(ngModel)]="newEnclos.capaciteEnclos"
                                                            placeholder="exemple : 10" required>
                                                    </div>
                                                    <div class="form-group">
                                                        <p>Secteur de l'enclos :</p>
                                                        <select class="form-control myInput" id="secteurEnclos"
                                                            [(ngModel)]="newEnclos.secteurEnclos"
                                                            formControlName="secteurEnclos" required>
                                                            <option *ngFor="let secteur of listSecteurs;"
                                                                [ngValue]="secteur">
                                                                {{secteur.nomSecteur}}
                                                            </option>
                                                        </select>
                                                    </div>
                                                    <button type="submit" class="btn btn-success"
                                                        [disabled]="myFormEnclos.invalid">Ajouter</button>
                                                    <button type="button" (click)="onResetEnclos()"
                                                        class="btn btn-danger">Réinitialiser</button>
                                                </form>
                                            </div>
                                            <div class="col-sm-3">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Fin Ajouter Enclos -->

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- FIN ZONE 2 -->

                </div>
                <div class="tab-pane" id="animal">

                    <!-- ZONE 3-->
                    <div class="card myCard">
                        <div class="card-header card-header-tabs card-header-success">
                            <div class="nav-tabs-navigation">
                                <div class="nav-tabs-wrapper">
                                    <ul class="nav nav-tabs" data-tabs="tabs">
                                        <li class="nav-item">
                                            <a class="nav-link active" href="#table-animal" data-toggle="tab">
                                                <i class="material-icons">pets</i> Liste des animaux
                                                <div class="ripple-container"></div>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#ajout-animal" data-toggle="tab">
                                                <i class="material-icons">playlist_add</i> Ajouter animal
                                                <div class="ripple-container"></div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card-body myCard">
                            <div class="tab-content myCard">
                                <div class="tab-pane active" id="table-animal">

                                    <!-- Liste Animaux -->
                                    <div class="col-md-12 myCard">
                                        <div class="card">
                                            <div class="card-body myCard2">
                                                <div class="table-responsive">
                                                    <table class="table">
                                                        <thead class=" text-primary">
                                                            <th>
                                                                Nom de l'animal
                                                            </th>
                                                            <th>
                                                                Espece
                                                            </th>
                                                            <th>
                                                                Age
                                                            </th>
                                                            <th>
                                                                Enclos
                                                            </th>
                                                            <th>
                                                                Régime alimentaire
                                                            </th>
                                                            <th>
                                                            </th>
                                                            <th>
                                                            </th>
                                                        </thead>
                                                        <tbody>
                                                            <tr *ngFor="let animal of listAnimaux">
                                                                <td>{{animal.nomAnimal}}</td>
                                                                <td>{{animal.especeAnimal}}</td>
                                                                <td>{{animal.ageAnimal}}</td>
                                                                <td>{{animal.enclosAnimal.nomEnclos}}</td>
                                                                <td>{{animal.nourritureAnimal.nomNourriture}}</td>
                                                                <td><button type="button"
                                                                        [routerLink]="['/updateanimal',animal.idAnimal]"
                                                                        class="btn btn-success"><i
                                                                            class="material-icons">autorenew</i>
                                                                        Modifier</button>
                                                                </td>
                                                                <td><button type="button"
                                                                        (click)="deleteAnimal(animal.idAnimal, i)"
                                                                        class="btn btn-danger"><i
                                                                            class="material-icons">delete</i>
                                                                        Supprimer</button>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Fin Liste Animaux -->

                                </div>
                                <div class="tab-pane" id="ajout-animal">

                                    <!-- Ajouter Animal -->
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-sm-3">
                                            </div>
                                            <div class="col-sm-6">
                                                <form [formGroup]="myFormAnimal" (ngSubmit)="ajoutAnimal()"
                                                    class="was-validated">
                                                    <h3 class="text-primary">Ajouter un nouvel animal</h3>
                                                    <div class="form-group">
                                                        <p>Nom de l'animal :</p>
                                                        <input type="text" class="form-control myInput" id="nomAnimal"
                                                            formControlName="nomAnimal"
                                                            [(ngModel)]="newAnimal.nomAnimal"
                                                            placeholder="exemple : Tigrou" required>
                                                    </div>
                                                    <div class="form-group">
                                                        <p>Espece de l'animal :</p>
                                                        <input type="text" class="form-control myInput"
                                                            id="especeAnimal" formControlName="especeAnimal"
                                                            [(ngModel)]="newAnimal.especeAnimal"
                                                            placeholder="exemple : Tigre" required>
                                                    </div>
                                                    <div class="form-group">
                                                        <p>Age de l'animal</p>
                                                        <input type="number" class="form-control myInput" id="ageAnimal"
                                                            formControlName="ageAnimal"
                                                            [(ngModel)]="newAnimal.ageAnimal" placeholder="exemple : 5"
                                                            required>
                                                    </div>
                                                    <div class="form-group">
                                                        <p>Enclos de l'animal :</p>
                                                        <select class="form-control myInput" id="enclosAnimal"
                                                            [(ngModel)]="newAnimal.enclosAnimal"
                                                            formControlName="enclosAnimal" required>
                                                            <option *ngFor="let enclos of listEnclos;"
                                                                [ngValue]="enclos">
                                                                {{enclos.nomEnclos}}
                                                            </option>
                                                        </select>
                                                    </div>
                                                    <div class="form-group">
                                                        <p>Régime alimentaire :</p>
                                                        <select class="form-control myInput" id="nourritureAnimal"
                                                            [(ngModel)]="newAnimal.nourritureAnimal"
                                                            formControlName="nourritureAnimal" required>
                                                            <option *ngFor="let nourriture of listNourritures;"
                                                                [ngValue]="nourriture">
                                                                {{nourriture.nomNourriture}}
                                                            </option>
                                                        </select>
                                                    </div>
                                                    <button type="submit" class="btn btn-success"
                                                        [disabled]="myFormAnimal.invalid">Ajouter</button>
                                                    <button type="button" (click)="onResetAnimal()"
                                                        class="btn btn-danger">Réinitialiser</button>
                                                </form>
                                            </div>
                                            <div class="col-sm-3">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Fin Ajouter Animal -->

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- FIN ZONE 3 -->

                </div>
            </div>
        </div>
    </div>
</div>