<div class="table-responsive">
    <table class="table">
        <thead class=" text-primary">
            <th>
                Libellé
            </th>
            <th>
                Commentaire
            </th>
            <th>
                Date
            </th>
            <th>
                Durée
            </th>
            <th>
                Etat
            </th>
            <th>
            </th>
            <th>
            </th>
        </thead>
        <tbody *ngFor="let tache of listTaches">
            <tr *ngIf="tache.userTache.idUser == idSecure">
                <td>{{tache.libelleTache}}</td>
                <td>{{tache.commentaireTache}}</td>
                <td>{{tache.dateTache|date:"dd/MM/yyyy hh:mm"}}</td>
                <td>{{tache.dureeTache}} h</td>
                <td><button *ngIf="tache.etatTache.idEtat != 1" type="button" (click)="updateAfaire(tache.idTache)"
                        class="btn btn-success"><i class="material-icons"></i>
                        A faire</button>
                    <button *ngIf="tache.etatTache.idEtat == 1" disabled="true" type="button"
                        (click)="updateAfaire(tache.idTache)" class="btn btn-warning"><i class="material-icons"></i>
                        A faire</button>
                    <button *ngIf="tache.etatTache.idEtat != 2" type="button" (click)="updateEncours(tache.idTache)"
                        class="btn btn-success"><i class="material-icons"></i>
                        En cours</button>
                    <button *ngIf="tache.etatTache.idEtat == 2" disabled="true" type="button"
                        (click)="updateEncours(tache.idTache)" class="btn btn-warning"><i class="material-icons"></i>
                        En cours</button>
                    <button *ngIf="tache.etatTache.idEtat != 3" type="button" (click)="updateTermine(tache.idTache)"
                        class="btn btn-success"><i class="material-icons"></i>
                        Terminé</button>
                    <button *ngIf="tache.etatTache.idEtat == 3" disabled="true" type="button"
                        (click)="updateTermine(tache.idTache)" class="btn btn-warning"><i class="material-icons"></i>
                        Terminé</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>