<div class="col-lg-12 col-md-12">
    <div class="card myCard">
        <div class="card-header card-header-tabs card-header-success">
            <div class="nav-tabs-navigation">
                <div class="nav-tabs-wrapper">
                    <ul class="nav nav-tabs" data-tabs="tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="#table-tache" data-toggle="tab">
                                <i class="material-icons">assignment</i> Liste des tâches
                                <div class="ripple-container"></div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#ajout-tache" data-toggle="tab">
                                <i class="material-icons">note_add</i> Ajouter Tâche
                                <div class="ripple-container"></div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#planning-employe" data-toggle="tab">
                                <i class="material-icons">today</i> Planning par employé
                                <div class="ripple-container"></div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card-body myCard">
            <div class="tab-content myCard">
                <div class="tab-pane active myCard" id="table-tache">
                    <div class="col-md-12 myCard">
                        <div class="card">
                            <div class="card-body myCard2">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead class=" text-primary">
                                            <th>
                                                Libellé
                                            </th>
                                            <th>
                                                Commentaire
                                            </th>
                                            <th>
                                                Date
                                            </th>
                                            <th>
                                                Durée
                                            </th>
                                            <th>
                                                Employé associé
                                            </th>
                                            <th>
                                                Etat
                                            </th>
                                            <th>
                                            </th>
                                            <th>
                                            </th>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let tache of listTaches">
                                                <td>{{tache.libelleTache}}</td>
                                                <td>{{tache.commentaireTache}}</td>
                                                <td>{{tache.dateTache|date:"dd/MM/yyyy hh:mm"}}</td>
                                                <td>{{tache.dureeTache}} h</td>
                                                <td>{{tache.userTache.nomUser}} {{tache.userTache.prenomUser}}</td>
                                                <td>{{tache.etatTache.libelleEtat}}</td>
                                                <td><button type="button" [routerLink]="['/updatetache',tache.idTache]"
                                                        class="btn btn-success"><i class="material-icons">autorenew</i>
                                                        Modifier</button>
                                                </td>
                                                <td><button type="button" (click)="deleteTache(tache.idTache, i)"
                                                        class="btn btn-warning"><i class="material-icons">delete</i>
                                                        Supprimer</button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane myCard" id="ajout-tache">
                    <div class="col-md-12 myCard">
                        <div class="card">
                            <div class="card-body myCard2">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-3">
                                        </div>
                                        <div class="col-sm-6">
                                            <form [formGroup]="myFormTache" (ngSubmit)="ajoutTache()"
                                                class="was-validated">
                                                <h3 class="text-primary">Ajouter une nouvelle tâche</h3>
                                                <div class="form-group">
                                                    <h6>Libellé de la tâche:</h6>
                                                    <input type="text" class="form-control myInput" id="libelleTache"
                                                        formControlName="libelleTache"
                                                        [(ngModel)]="newTache.libelleTache"
                                                        placeholder="exemple : Nettoyer l'enclos des tigres" required>
                                                </div>
                                                <div class="form-group">
                                                    <h6>Commentaire :</h6>
                                                    <input type="text" class="form-control myInput"
                                                        id="commentaireTache" formControlName="commentaireTache"
                                                        [(ngModel)]="newTache.commentaireTache"
                                                        placeholder="exemple : Attention, Tigrou est malade!" required>
                                                </div>
                                                <div class="form-group">
                                                    <h6>Date et heure :</h6>
                                                    <input type="datetime-local" class="form-control myInput"
                                                        id="dateTache" formControlName="dateTache"
                                                        [(ngModel)]="newTache.dateTache"
                                                        placeholder="exemple : 01/01/2020 14:00:00" required>
                                                </div>
                                                <div class="form-group">
                                                    <h6>Durée (heure) :</h6>
                                                    <input type="number" class="form-control myInput" id="dureeTache"
                                                        formControlName="dureeTache" [(ngModel)]="newTache.dureeTache"
                                                        placeholder="exemple : 4" required>
                                                </div>
                                                <div class="form-group">
                                                    <h6>Utilisateur associé :</h6>
                                                    <select class="form-control myInput" id="userTache"
                                                        [(ngModel)]="newTache.userTache" formControlName="userTache"
                                                        required>
                                                        <option *ngFor="let user of listUsers;" [ngValue]="user">
                                                            {{user.nomUser}} {{user.prenomUser}}
                                                        </option>
                                                    </select>
                                                </div>
                                                <button type="submit" class="btn btn-success"
                                                    [disabled]="myFormTache.invalid">Ajouter</button>
                                                <button type="button" (click)="onResetTache()"
                                                    class="btn btn-warning">Réinitialiser</button>
                                            </form>
                                        </div>
                                        <div class="col-sm-3">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane myCard" id="planning-employe">
                    <h6>A FAIRE</h6>
                </div>
            </div>
        </div>
    </div>
</div>