<div class="col-lg-12 col-md-12">
    <div class="card myCard">
        <div class="card-header card-header-tabs card-header-success">
            <div class="nav-tabs-navigation">
                <div class="nav-tabs-wrapper">
                    <ul class="nav nav-tabs" data-tabs="tabs">
                        <li class="nav-item">
                            <a class="nav-link" href="#news" data-toggle="tab">
                                <i class="material-icons">menu_book</i> Les News su Zoo
                                <div class="ripple-container"></div>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#events" data-toggle="tab">
                                <i class="material-icons">access_time</i> Evénements à venir
                                <div class="ripple-container"></div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card-body myCard">
            <div class="tab-content myCard">
                <div class="tab-pane myCard" id="news">
                    <!-- NEWS 1 -->
                    <div class="card myCard">
                        <div class="card-header card-header-success">
                            <h4 class="card-title">LA PROTECTION DES TIGRES DE SUMATRA : UN ENJEU IMMENSE</h4>
                        </div>
                        <div class="card-body myCard">
                            <div class="row">
                                <div class="col-lg-8">
                                    <p>Le tigre de Sumatra est une sous-espèce du tigre qui vit sur l’île indonésienne
                                        de
                                        Sumatra. On le distingue aux bandes noires plus épaisses qui strient son pelage
                                        orangé
                                        et aux larges favoris qui ornent la face du mâle. Il reste actuellement moins de
                                        300
                                        tigres de Sumatra à l’état sauvage. Ils sont menacés par le braconnage, la
                                        déforestation
                                        et la réduction de leur espace de vie. L’espèce est classée au stade de danger
                                        critique
                                        d’extinction sur la liste rouge de l’IUCN (International Union for Conservation
                                        of
                                        Nature) depuis 2008. Elle reste ainsi la seule espèce de tigres indonésiens
                                        encore
                                        existante ; les tigres de Java et Bali étant déjà complètement éteints. Les zoos
                                        sont
                                        aujourd’hui des acteurs à part entière de la conservation de cette espèce
                                        menacée
                                        grâce
                                        au soutien financier apporté aux organisations qui oeuvrent sur le terrain d’une
                                        part
                                        mais aussi grâce aux programmes d’élevage en captivité, les EEP (European
                                        Endangered
                                        Species Programme), qui visent à maintenir une population saine, viable et
                                        pérenne
                                        en
                                        parc zoologique.</p>
                                </div>
                                <div class="col-lg-4">
                                    <p><img class="myImg1"
                                            src="http://www.zoo-la-fleche.com/wp-content/uploads/2017/03/tigresdesumatra.jpg"
                                            alt="Tigre de Sumatra" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- FIN NEWS 1 -->
                    <!-- NEWS 2 -->
                    <div class="card myCard">
                        <div class="card-header card-header-success">
                            <h4 class="card-title">LE BASSIN DES MANCHOTS DE HUMBOLDT S’AGRANDIT</h4>
                        </div>
                        <div class="card-body myCard">
                            <div class="row">
                                <div class="col-lg-8">
                                    <p>Notre colonie de manchots de Humboldt a également vu son espace doubler, une très
                                        bonne nouvelle pour nos couples qui nous permet d’espérer de nouvelles
                                        naissances.</p>
                                </div>
                                <div class="col-lg-4">
                                    <p><img class="myImg1"
                                            src="http://www.zoo-la-fleche.com/wp-content/uploads/2017/03/manchotsdehumboldt-150x150.jpg"
                                            alt="Manchots" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- FIN NEWS 2 -->
                </div>
                <div class="tab-pane" id="events">

                </div>
            </div>
        </div>
    </div>
</div>