.myInput {
    background-color: rgb(179, 224, 169, 0.5);
    border-radius: 5px;
    padding-left:15px;
    padding-right:15px;
}

.myBtn {
    margin-top: 8px;
}

.myColor1 {
    background-color: rgb(170, 194, 65);
}

.myColor2 {
    background-color: rgb(245, 239, 226);
}

.myText {
    font-weight: bold;
}