<div class="col-lg-12 col-md-12">
    <div class="card myCard">
        <div class="card-header card-header-tabs card-header-success">
            <div class="nav-tabs-navigation">
                <div class="nav-tabs-wrapper">
                    <ul class="nav nav-tabs" data-tabs="tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="#secteur" data-toggle="tab">
                                <i class="material-icons">landscape</i> Secteurs
                                <div class="ripple-container"></div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card-body myCard">
            <div class="tab-content myCard">
                <div class="tab-pane active" id="secteur">
                    <div class="card myCard">
                        <div class="card-header card-header-tabs card-header-success">
                            <div class="nav-tabs-navigation">
                                <div class="nav-tabs-wrapper">
                                    <ul class="nav nav-tabs" data-tabs="tabs">
                                        <li class="nav-item">
                                            <a class="nav-link" [routerLink]="['/zoo']" data-toggle="tab">
                                                <i class="material-icons">reply</i>
                                                <div class="ripple-container"></div>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link active" href="#update-secteur" data-toggle="tab">
                                                <i class="material-icons">build</i> Modifier Secteur
                                                <div class="ripple-container"></div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card-body myCard">
                            <div class="tab-content myCard">
                                <div class="tab-pane active" id="update-secteur">

                                    <!-- Update Secteur -->
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-sm-3">
                                            </div>
                                            <div class="col-sm-6">
                                                <form [formGroup]="myForm" (ngSubmit)="updateSecteur(secteurCourant)"
                                                    class="was-validated myForm">
                                                    <div class="form-group">
                                                        <h3 class="text-primary">Modifier un secteur</h3>
                                                        <p>Nom du secteur :</p>
                                                        <input type="text" class="form-control myInput" id="nomSecteur"
                                                            formControlName="nomSecteur"
                                                            [(ngModel)]="secteurCourant.nomSecteur"
                                                            placeholder="exemple : Fauves" required>
                                                    </div>
                                                    <button type="submit" class="btn btn-success"
                                                        [disabled]="myForm.invalid">Modifier</button>
                                                    <button type="button" (click)="onReset()"
                                                        class="btn btn-warning">Réinitialiser</button>
                                                </form>
                                            </div>
                                            <div class="col-sm-3">
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Fin Update Secteur -->

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>